# SPDX-License-Identifier: GPL-2.0-only
menuconfig HTE
	bool "Hardware Timestamping Engine (HTE) Support"
	help
	  Hardware Timestamping Engine (HTE) Support.

	  Some devices provide a hardware timestamping engine which can
	  timestamp certain device lines/signals in realtime. This provides a
	  hardware-assisted timestamp to generic signals like GPIOs or IRQs
	  lines. It comes with a benefit for applications like autonomous
	  machines needing accurate timestamping event with less jitter.

	  This framework provides a generic interface to such HTE devices
	  within the Linux kernel. It provides an API to register and
	  unregister a HTE provider chip, configurable software buffer to
	  store the timestamps, push the timestamp from the HTE providers and
	  retrieve timestamps for the consumers. It also provides means for the
	  consumers to request signals it wishes to hardware timestamp and
	  release them if not required.

	  If unsure, say no.

if HTE

config HTE_TEGRA194
	tristate "NVIDIA Tegra194 HTE Support"
	depends on ARCH_TEGRA_194_SOC
	help
	  Enable this option for integrated hardware timestamping engine also
	  known as generic timestamping engine (GTE) support on NVIDIA Tegra194
	  systems-on-chip. The driver supports 352 LIC IRQs and 39 AON GPIOs
	  lines for timestamping in realtime.

config HTE_TEGRA194_IRQ_TEST
        tristate "NVIDIA Tegra194 HTE LIC IRQ Test"
        depends on HTE_TEGRA194
        help
	  The NVIDIA Tegra194 GTE IRQ test driver demonstrates HTE subsystem
	  usage for the LIC IRQ hardware timestamp.

endif
